- @article = Article.new
- @article.valid?

= form_for @article, html: {class: 'usa-form usa-form--large margin-x-auto'} do |f|
    = render UswdsComponents::TextAreaComponent.new(form: f, attribute: :body)
