- article = UswdsComponents::TextAreaComponentPreview::Article.new
- article.valid?

= form_for article, url: '#', html: {class: 'usa-form'} do |f|
    = render UswdsComponents::TextAreaComponent.new(form: f, attribute: :body)
