%a{href: 'https://designsystem.digital.gov/components/header/'}
  See on USWDS
- submenu_items = [UswdsComponents::HeaderComponent::SubmenuItem.new(href: '#',
  name: 'Navigation link'),
  UswdsComponents::HeaderComponent::SubmenuItem.new(href: '#',
  name: 'Navigation link'),
  UswdsComponents::HeaderComponent::SubmenuItem.new(href: '#',
  name: 'Navigation link')]
- section_menu = UswdsComponents::HeaderComponent::Submenu.new(title: 'Section',
  items: submenu_items)
- simple_link = UswdsComponents::HeaderComponent::Submenu.new(title: 'Section',
  items: submenu_items)
- primary_items = [section_menu, simple_link]
= render UswdsComponents::HeaderComponent.new(logo_title: 'Project Title',
  logo_href: '#home', primary_items: primary_items)
