%div{:class => ('usa-form-group usa-form-group--error' if errors_present?)}
  = form.label attribute, class: label_classes
  - errors.each do |error|
    %span.usa-error-message= error.full_message
  = form.text_area attribute, input_options
