%li.usa-pagination__item.usa-pagination__arrow
  %a.usa-pagination__link.usa-pagination__next-page{
    aria: { label: 'Next page' }, href: url,
  }
    %span.usa-pagination__link-text Next
    .text-right.usa-icon{aria: { hidden: 'true' }, role: 'img'}
      &#8250;
