%li.usa-pagination__item.usa-pagination__arrow
  %a.usa-pagination__link.usa-pagination__previous-page{
    aria: { label: 'Previous page' }, href: url
    }
    .usa-icon{'aria-hidden' => 'true', role: 'img'}
      &#8249;
    %span.usa-pagination__link-text Previous
