-# haml-lint:disable LineLength
- article = UswdsComponents::TextInputComponentPreview::Article.new(title: params[:value])
-# haml-lint:enable LineLength

- article.errors.add(:title, params[:error1]) if params[:error1].present?
- article.errors.add(:title, params[:error2]) if params[:error2].present?

= form_for article, url: '#', html: { class: 'usa-form' } do |f|
  = render UswdsComponents::TextInputComponent.new(form: f, attribute: :title,
    hint: params[:hint], success: params[:success])

