- article = UswdsComponents::TextInputComponentPreview::Article.new
- article.valid?

= form_for article, url: '#', html: { class: 'usa-form' } do |f|
  = render UswdsComponents::TextInputComponent.new(form: f, attribute: :title)
