%li{:class => "usa-breadcrumb__list-item #{current_page?(href) ? "usa-current" : ""}"}
  - if current_page?(href)
    %span= name
  - else
    = link_to href, class: 'usa-breadcrumb__link' do
      %span= name
